<div class="subMenu-content">
  <div class="content-max subMenu-content-in">
    <ul class="subMenu">
      <li class="subMenu-option" value="0">最新消息</li>
      <li class="subMenu-option" value="1">特別企劃</li>
      <li class="subMenu-option" value="2">新品上市</li>
      <li class="subMenu-option" value="3">鏡框小知識</li>
    </ul>
    <div class="search-btn">
      <span class="material-symbols-outlined"> search </span>
    </div>
  </div>
</div>

<div class="content-max">
  <div class="navigation-bar">
    <div class="target">首頁</div>
    <div class="">/</div>
    <div class="target">部落格</div>
    <div class="">/</div>
    <div class="target">特別企劃</div>
    <div class="">/</div>
    <div class="target now">情人特別企劃</div>
  </div>
  <div class="hash-tag-bar">
    <div class="hash-tag">#special</div>
    <div class="hash-tag">#event</div>
  </div>

  <div class="blog-article-mainContent">
    <div class="blog-article-content">
      <div class="blog-article-block">
        <div class="blog-article-block-titleGroup">
          <div class="blog-article-block-title">情人特別企劃</div>
          <div class="blog-article-block-subTitle">2020 Valentine’s Special</div>
        </div>
        <div class="blog-article-block-describeGroup">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/blogpage-1.png" />
          <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br />本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/blogpage-2.png" />
          <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br />本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/blogpage-3.png" />
          <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br />本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/blogpage-4.png" />
          <p>2/14(五)-2/20(日)<br />至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br />期間優惠還有~~持他牌鏡框更換鏡片<br />薄型非球面鏡片折300元<br />濾藍光鏡片折500元<br />快快帶上另一半<br />讓彼此每一次睜開眼，都被愛的視線包圍!</p>
        </div>
      </div>
      <div class="blog-article-share">
        <div class="share-title">Share</div>
        <div class="share-btnGroup">
          <div class="share-btn">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/logo-facebook.png" />
          </div>
          <div class="share-btn">
           <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/logo-instagram.png" />
          </div>
        </div>
      </div>
      <div class="blog-page">
        <div class="last-page">
          <span class="material-symbols-outlined"> arrow_back </span>
          上一篇：街頭潮人訪問 1
        </div>
        <div class="next-page">
          下一篇：街頭潮人訪問 2
          <span class="material-symbols-outlined"> arrow_forward </span>
        </div>
      </div>
    </div>
    <div class="tags-content">
      <div class="tags-title">
        <span class="material-symbols-outlined"> label </span>
        <span class="name">TAGS</span>
      </div>
      <div class="hash-tagGroup">
        <div class="hash-tag">#special</div>
        <div class="hash-tag">#sale</div>
        <div class="hash-tag">#new_item</div>
        <div class="hash-tag">#interview</div>
        <div class="hash-tag">#trivia</div>
        <div class="hash-tag">#news</div>
        <div class="hash-tag">#event</div>
      </div>
    </div>
  </div>
</div>
