<div class="content-max">
  <div class="main-bar">
    <ul class="footer-menu menu">
      <li class="footer-menu-option menu-option menu-home">首頁</li>
      <li class="footer-menu-option menu-option menu-glasses">系列鏡框</li>
      <li class="footer-menu-option menu-option menu-location">門市據點</li>
      <li class="footer-menu-option menu-option menu-blog">部落格</li>
      <li class="footer-menu-option menu-option menu-question">常見問題</li>
    </ul>
    <ul class="media">
      <li class="media-btn">
        <a href="">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/ic-social-fb.png" alt="fb" />
        </a>
      </li>
      <li class="media-btn">
        <a href="">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/ic_social_ig.png" alt="ig" />
        </a>
      </li>
      <li class="media-btn">
        <a href="">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/ic_social_line.png" alt="line" />
        </a>
      </li>
    </ul>
  </div>
  <ul class="contact">
    <li class="contact-option">
      <div class="contact-option-img">
        <span class="material-symbols-outlined"> call </span>
      </div>
      <div class="contact-option-info">0800-000-000</div>
    </li>
    <li class="contact-option">
      <div class="contact-option-img">
        <span class="material-symbols-outlined"> mail </span>
      </div>
      <div class="contact-option-info">glasses@business.com</div>
    </li>
  </ul>
  <div class="describe">
    <div class="copyright">Copyright © 2020 Glasses.All rights reserved.</div>
    <ul class="describe-option">
      <li class="describe-option-option"><a href="">隱私權政策</a></li>
      <li class="describe-option-option"><a href="">服務條款</a></li>
    </ul>
  </div>
</div>
