<div class="subMenu-content">
  <ul class="subMenu content-max">
    <li class="subMenu-option subMenu-OPTICAL click" value="0">OPTICAL</li>
    <li class="subMenu-option subMenu-SUNGLASSES" value="1">SUNGLASSES</li>
    <li class="subMenu-option subMenu-FUNCTIONAL" value="2" >FUNCTIONAL</li>
  </ul>
</div>

<div class="glasses-mainContent OPTICAL-area">
  <div class="glasses-banner OPTICAL-img">
    <div class="banner-img left">
    </div>
    <div class="banner-img right">
    </div>
  </div>
  <div class="glasses-content">
    <div class="content-max">
      <div class="glasses-title-group">
        <div class="glasses-title-EN">Celluloid Combi</div>
        <div class="glasses-title-CN">賽璐珞鈦金屬混合鏡框</div>
      </div>
      <div class="glasses-products">
        <div class="glasses-products-content">
          <div class="glasses-products-block">
            <div class="glasses-products-img">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/product-1.png" />
            </div>
            <div class="glasses-products-infoGroup">
              <div class="glasses-title">
                <div class="model">BJ41600S</div>
                <div class="price">NTD3,490</div>
              </div>
              <div class="glasses-style">
                <div class="color brown"></div>
                <div class="color orange"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="page">
          <div class="page-last">上一頁</div>
          <div class="page-number">1</div>
          <div class="page-number click">2</div>
          <div class="page-number">3</div>
          <div class="page-number">4</div>
          <div class="page-number">5</div>
          <div class="page-next none">下一頁</div>
        </div>
      </div>
    </div>
  </div>
</div>
