<div class="banner">
  <div class="content-max">
    <div class="text-block">
      <div class="sub-title">Promise-Desert 2020 早春系列</div>
      <div class="main-title">看得清，才能看得遠</div>
      <div class="buy-btn">立即購買</div>
    </div>
  </div>
</div>

<div class="introduce">
  <div class="content-max">
    <div class="introduce-title home-page-title">用專業的心，做專業的事</div>
    <ul class="introduce-itemGroup">
      <li class="introduce-item">
        <span class="material-symbols-outlined"> paid </span>
        <div class="introduce-item-title">單一價格</div>
        <div class="introduce-item-text">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</div>
      </li>
      <li class="introduce-item">
        <span class="material-symbols-outlined"> schedule </span>
        <div class="introduce-item-title">20 分鐘即可取件</div>
        <div class="introduce-item-text">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</div>
      </li>
      <li class="introduce-item">
        <span class="material-symbols-outlined"> favorite </span>
        <div class="introduce-item-title">安心售後服務</div>
        <div class="introduce-item-text">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</div>
      </li>
      <li class="introduce-item">
        <span class="material-symbols-outlined"> voicemail </span>
        <div class="introduce-item-title">關於鏡片</div>
        <div class="introduce-item-text">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</div>
      </li>
    </ul>
  </div>
</div>

<div class="classicGlasses">
  <div class="content-max">
    <div class="classicGlasses-title home-page-title">經典系列鏡框</div>
    <ul class="classicGlasses-itemGroup">
      <li class="classicGlasses-item">
        <div class="classicGlasses-item-img">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/home-section3-1.png" alt="OPTICAL" />
        </div>
        <div class="classicGlasses-item-title">OPTICAL</div>
      </li>
      <li class="classicGlasses-item">
        <div class="classicGlasses-item-img">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/home-section3-2.png" alt="SUNGLASSES" />
        </div>
        <div class="classicGlasses-item-title">SUNGLASSES</div>
      </li>
      <li class="classicGlasses-item">
        <div class="classicGlasses-item-img">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/home-section3-3.png" alt="FUNCTIONAL" />
        </div>
        <div class="classicGlasses-item-title">FUNCTIONAL</div>
      </li>
    </ul>
  </div>
</div>

<div class="jointDesign">
  <div class="content-max">
    <div class="jointDesign-title home-page-title">聯名設計鏡框</div>
    <ul class="jointDesign-Group">
      <li class="jointDesign-item">
        <div class="jointDesign-img img1"></div>
        <div class="jointDesign-title">DOUBLE A+</div>
      </li>
      <li class="jointDesign-item">
        <div class="jointDesign-img img2"></div>
        <div class="jointDesign-title">YOUTH</div>
      </li>
    </ul>
  </div>
</div>

<div class="recommend">
  <div class="content-max">
    <div class="recommend-title home-page-title">顧客推薦</div>
    <ul class="recommendGroup">
      <li class="recommend-item">
        <div class="recommend-img">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/home-section5-1.png" alt="Jessy" />
        </div>
        <div class="recommend-textBlock">
          <div class="recommend-textBlock-group">
            <div class="recommend-textBlock-group-title">Jessy</div>
            <div class="recommend-textBlock-group-text">眼鏡品質優良，下次還會想來這邊購買！</div>
          </div>
          <div class="recommend-textBlock-date">2021/06/20</div>
        </div>
      </li>
      <li class="recommend-item">
        <div class="recommend-img">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/home-section5-2.png" alt="凱倫" />
        </div>
        <div class="recommend-textBlock">
          <div class="recommend-textBlock-group">
            <div class="recommend-textBlock-group-title">凱倫</div>
            <div class="recommend-textBlock-group-text">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</div>
          </div>
          <div class="recommend-textBlock-date">2021/04/18</div>
        </div>
      </li>
      <li class="recommend-item">
        <div class="recommend-img">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/home-section5-3.png" alt="悠悠" />
        </div>
        <div class="recommend-textBlock">
          <div class="recommend-textBlock-group">
            <div class="recommend-textBlock-group-title">悠悠</div>
            <div class="recommend-textBlock-group-text">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</div>
          </div>
          <div class="recommend-textBlock-date">2020/12/25</div>
        </div>
      </li>
      <li class="recommend-item">
        <div class="recommend-img">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/home-section5-4.png" alt="Kyuan" />
        </div>
        <div class="recommend-textBlock">
          <div class="recommend-textBlock-group">
            <div class="recommend-textBlock-group-title">Kyuan</div>
            <div class="recommend-textBlock-group-text">服務很好，品質沒有任何問題，非常喜歡。</div>
          </div>
          <div class="recommend-textBlock-date">2020/10/31</div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="contactUs">
  <div class="content-max">
    <div class="contactUs-title home-page-title">聯絡我們</div>
    <div class="contactUs-descriipt">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</div>
    <form class="contactUs-form">
      <div class="contactUs-form-item">
        <label class="contactUs-form-item-title">姓名</label>
        <input type="text" id="name" placeholder="陳小明" />
      </div>
      <div class="contactUs-form-item">
        <label class="contactUs-form-item-title">聯絡電話</label>
        <input type="text" id="phone-number" placeholder="0912-345-678" />
      </div>
      <div class="contactUs-form-item">
        <label class="contactUs-form-item-title">電子郵件</label>
        <input type="text" id="mail" placeholder="example@email.com" />
      </div>
      <div class="contactUs-form-item">
        <label class="contactUs-form-item-title">意見反應</label>
        <textarea id="textarea" rows="6" cols="" placeholder="請輸入您的意見"></textarea>
      </div>
      <div class="contactUs-form-item check-content">
        <label class="contactUs-form-item-title">
          我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="contactUs-form-item submit-content">
        <button type="submit" id="submit_btn" class="submit">確認送出</button>
      </div>
    </form>
  </div>
</div>
