<div class="content-max">
  <div class="location-title all-page-title">門市據點</div>
  <div class="location-select">
    <span class="location-select-title">選擇地區</span>
    <select>
      <option>台北市</option>
      <option>台中市</option>
      <option>高雄市</option>
    </select>
  </div>
  <div class="location-mainContent">
    <div class="location-content">
      <div class="location-content-img">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/380a3830c5ec79e65f02eb756c218209a90ebe10/week3-4/store-1.png" />
      </div>
      <div class="location-content-infoGroup">
        <div class="location-info-title">台北中山旗艦店</div>
        <div class="location-info-item">
          <div class="phone">
            <span class="material-symbols-outlined"> call </span>
            <span>電話：(02)000-1234</span>
          </div>
          <div class="time">
            <span class="material-symbols-outlined"> schedule </span>
            <span>營業時間：10:00-21:00</span>
          </div>
          <div class="address">
            <span class="material-symbols-outlined"> location_on </span>
            <span>地址：台北市中山區南京東路25巷2-1號</span>
          </div>
        </div>
        <div class="moreDetailBtn" value="0">詳細資訊</div>
      </div>
    </div>
  </div>
</div>
