<div class="content-max">
  <div class="question-title all-page-title">常見問題</div>
  <div class="question-mainContent">
    <div class="question-subTitle">我想詢問配鏡問題</div>
    <div class="question-contentGroup">
      <div class="question-content">
        <div class="question-content-Q">Q1.請問可否自備鏡框單配鏡片？</div>
        <div class="question-content-A">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 <br />當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 <br />他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</div>
      </div>
    </div>
  </div>
</div>
